
nav.col-md-2.d-none.d-md-block.bg-light.sidebar
    div.sidebar-sticky
        ul.nav.flex-column
            li.nav-item                        
                a.nav-link.active( href="/articulos")
                    span
                        img(src="/images/icons/Documents.svg")/ Artículos 
                    span.sr-only(current)
            li.nav-item
                a.nav-link(href="/usuarios")
                    span
                        img(src="/images/icons/People.svg")/ Usuarios